# {{ ansible_managed }}
{% for item in forgejo_base_config %}
{{ item }}
{% endfor %}

[oauth2]
{% for item in forgejo_oauth2_config %}
{{ item }}
{% endfor %}

[oauth2_client]
{% for item in forgejo_oauth2_client_config %}
{{ item }}
{% endfor %}

[ui]
{% for item in forgejo_ui_config %}
{{ item }}
{% endfor %}

[security]
{% for item in forgejo_security_config %}
{{ item }}
{% endfor %}

[database]
{% for item in forgejo_database_config %}
{{ item }}
{% endfor %}

[repository]
{% for item in forgejo_repository_config %}
{{ item }}
{% endfor %}

[server]
{% for item in forgejo_server_config %}
{{ item }}
{% endfor %}

[lfs]
{% for item in forgejo_lfs_config %}
{{ item }}
{% endfor %}

[mailer]
{% for item in forgejo_mailer_config %}
{{ item }}
{% endfor %}

[service]
{% for item in forgejo_service_config %}
{{ item }}
{% endfor %}


[mirror]
{% for item in forgejo_mirror_config %}
{{ item }}
{% endfor %}

[picture]
{% for item in forgejo_picture_config %}
{{ item }}
{% endfor %}


[openid]
{% for item in forgejo_openid_config %}
{{ item }}
{% endfor %}

[session]
{% for item in forgejo_session_config %}
{{ item }}
{% endfor %}

[log]
{% for item in forgejo_log_config %}
{{ item }}
{% endfor %}

[markup]
{% for item in forgejo_markup_config %}
{% if item.name == 'asciidoc' and item.enable == 'true' %}
[markup.asciidoc]
ENABLED = true
NEED_POSTPROCESS = true
FILE_EXTENSIONS = .adoc,.asciidoc
RENDER_COMMAND = "asciidoctor -s -a showtitle --out-file=- -"
IS_INPUT_FILE = false
RENDER_CONTENT_MODE = sanitized
{% endif %}
{% if item.name == 'jupyter' and item.enable == 'true' %}
[markup.jupyter]
ENABLED = true
FILE_EXTENSIONS = .ipynb
RENDER_COMMAND = "jupyter nbconvert --stdin --stdout --to html --template basic"
IS_INPUT_FILE = false
RENDER_CONTENT_MODE = sanitized
{% endif %}
{% if item.name == 'html' and item.enable == 'true' %}
[markup.html]
ENABLED         = true
FILE_EXTENSIONS = .html,.htm
RENDER_COMMAND  = cat
IS_INPUT_FILE   = true
RENDER_CONTENT_MODE = sanitized
{% endif %}
{% endfor %}

[email.incoming]
{% for item in forgejo_email_incoming %}
{{ item }}
{% endfor %}
